<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://192.168.3.179/cslm/20190129/Lottery_cslm_V1.1.28_release-cslm-20190129_20190129-145613.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.huojin.cslm1</string>
<key>bundle-version</key>
<string>1.1.28</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>创世联盟</string>
</dict>
</dict>
</array>
</dict>
</plist>
